{
	"presets": [
		"module:metro-react-native-babel-preset",
		"@babel/preset-typescript"
	],
	"sourceMaps": true,
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-transform-runtime",
			{
				"helpers": true,
				"regenerator": false
			}
		],
		[
			"module-resolver",
			{
				"root": [
					"./src"
				],
				"alias": {
					"App": "./App",
					"Assets": "./Assets"
				}
			}
		],
		"@babel/proposal-object-rest-spread",
		[
			"@babel/plugin-transform-flow-strip-types"
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		]
	]
}
